<form action="/new" method="POST">
  <!--   <p>Name:<input type="text" name="params[:name]"></p>
    <p>Breed:<input type="text" name="params[:breed]"></p>
    <p>Age:<input type="text" name="params[:age]"></p> -->

    <p>Name:<input type="text" name="name"></p>
    <p>Breed:<input type="text" name="breed"></p>
    <p>Age:<input type="text" name="age"></p>

    <input type="submit" value="submit"/>
</form>